@model ProductViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input type="number" step="0.01" min="0" max="30000" asp-for="Price" placeholder="Number must be between 0 and 30000!" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input type="number" min="0" max="100" placeholder="Number must be between 0 and 100!" asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsRated" class="control-label"></label>
                <input type="checkbox" id="ratingCheckbox" onclick="ToggleRatingInput()" asp-for="IsRated" />

                <input type="number" min="0" max="10" step="1" value="10" asp-for="Rating" id="ratingInput" class="form-control invisible" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type"></label>
                <input type="radio" id="hardwareRadio" name="type" value="Hardware" asp-for="Type" />
                <label for="hardwareRadio">Hardware</label>
                <input type="radio" id="softwareRadio" name="type" value="Software" asp-for="Type" />
                <label for="softwareRadio">Software</label>
            </div>
            <div class="form-group" id="hardwareProperties">
                <label asp-for="Weight"></label>
                <input type="number" min="1" max="10000" step="1" asp-for="Weight">gr</input>
            </div>
            <div class="form-group" id="softwareProperties">
                <label asp-for="Version"></label>
                <input asp-for="Version"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">

    var hideHardwarePropertiesOn = true;
    var hideSoftwarePropertiesOn = true;

    $("#hardwareRadio").change(
        function ()
        {
            if (this.checked && this.value == "Hardware")
            {
                hideSoftwarePropertiesOn = true;
                ToggleHardwareProperties();
                ToggleSoftwareProperties();
            }
            else
            {
                hideSoftwarePropertiesOn = false;
                hideHardwarePropertiesOn = true;
            }
        }
    )

    $("#softwareRadio").change(
        function () {
            if (this.checked && this.value == "Software") {
                hideHardwarePropertiesOn = true;
                ToggleHardwareProperties();
                ToggleSoftwareProperties();
            }
            else
            {
                hideHardwarePropertiesOn = false;
                hideSoftwarePropertiesOn = true;
            }
        }
    )

    $(document).ready(function () {
        ToggleHardwareProperties();
        ToggleSoftwareProperties();
    });

    function ToggleRatingInput()
    {
        $("#ratingInput").toggleClass("invisible");
    }

    function ToggleHardwareProperties()
    {
        if (hideHardwarePropertiesOn)
        {
            $("#hardwareProperties").css("display", "none");
            hideHardwarePropertiesOn = false;
        }
        else
        {
            $("#hardwareProperties").css("display", "block");
            hideHardwarePropertiesOn = true;  
        }
    }

    function ToggleSoftwareProperties()
    {
        if (hideSoftwarePropertiesOn) {
            $("#softwareProperties").css("display", "none");
            hideSoftwarePropertiesOn = false;
        }
        else {
            $("#softwareProperties").css("display", "block");
            hideSoftwarePropertiesOn = true;
        }
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
